<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Alaaliint.Office.Outlook.SubjectSelector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Alaaliint.Office.Outlook.SubjectSelector.Properties.Settings>
            <setting name="ClientContextUrl" serializeAs="String">
                <value>https://monaem.sharepoint.com/sites/ahmedelbari</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>e9e875e1-ce63-4f9a-85a9-4c6721c4f3e2</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>nP6HJWSLL1zgZmK4rAkV3uLfpa38DxT8+hM1zOa/1lw=</value>
            </setting>
        </Alaaliint.Office.Outlook.SubjectSelector.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>